# AudD
AUDD_API_TOKEN=

# ACRCloud
ACRCLOUD_HOST=identify-us-west-2.acrcloud.com
ACRCLOUD_ACCESS_KEY=
ACRCLOUD_ACCESS_SECRET=

# SoundCloud
SOUNDCLOUD_CLIENT_ID=
SOUNDCLOUD_CLIENT_SECRET=

# Upstash Redis (Vercel Marketplace)
KV_REST_API_URL=
KV_REST_API_TOKEN=
